h1 {
    text-align: center;
}

td {
    width: 250px;
    height: 60px;
}
table {
    margin: 5px auto;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 60px;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 250px;
}

.red {
    border-color: red;
}
.vertred{
    border-left: 4px solid red;
    border-right: 4px solid red;
    
}
.horired{
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.topLeft{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.topMid{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.topRight{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.midLeft{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.midMid{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.midRight{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.bottomLeft{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.bottomMid{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}

.bottomRight{
    width: 75px;
    height: 55px;
    background: transparent;
    border-color: rgb(255, 255, 255, 0.3);
}