h1 {
    text-align: center;
}

td {
    width: 250px;
    height: 60px;
}
table {
    margin: 5px auto;
}
button{
    width: 80px;
    height: 58px;
    background: transparent;
    /* border: transparent; */
    
}
button:hover{
    cursor:pointer;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 60px;
    margin: 0%;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 250px;
}
.vertred{
    border-left: 4px solid red;
    border-right: 4px solid red;
    
}
.horired{
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}